@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

$color-primary: #615eff;
$color-primary-light: #7976ff;
$color-secondary: #46bff1;

$base-font-family: "Inter", sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    cursor: default;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.fixed-position {
    position: fixed;
}

.canvas {
    position: fixed;
    display: block;
    touch-action: none;
    z-index: -2;
}

.canvas-blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #2e5294;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.container {
    max-width: 1140;
    margin: 0 auto;
}

.pause-anim {
    animation-play-state: paused !important;
}

.btn-primary {
    color: white;
    background: linear-gradient(246.01deg, #45c3f0 11.03%, #615eff 102.64%);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: $color-primary-light;
    }
}

.btn-secondary {
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: darken(white, 7%);
    }
}

.header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 10;
    box-shadow: 0px 4px 8px 3px rgba(94, 94, 94, 0.12);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
    }

    &__btn-menu {
        display: none;
        cursor: pointer;
    }

    &__btn-menu-line {
        width: 28px;
        height: 3px;
        background-color: $color-primary;
        margin: 5px 0;
    }
}

.header__menu {
    display: flex;

    &-btn {
        width: 150px;
        height: 45px;
        border-radius: 5px;
        margin-left: 15px;
    }
}

.header-menu {
    position: absolute;
    background-color: white;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
    transition: all 0.2s ease-out;

    &.header-menu--open {
        transform: translateX(-100%);
    }

    &__top {
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 65px;
        background-color: white;
        margin-bottom: 60px;
        box-shadow: 0px 4px 8px 3px rgba(94, 94, 94, 0.12);
    }

    &__bottom {
        padding: 0 20px;
    }

    &__btn--primary {
        background-color: $color-primary;
        border-radius: 5px;
        height: 45px;
        width: auto;
        margin: 0 auto 15px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: $color-primary-light;
        }
    }

    &__btn--secondary {
        background-color: white;
        border: 1px solid $color-primary;
        border-radius: 5px;
        height: 45px;
        width: auto;
        margin: 0 auto 15px;
        color: $color-primary;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: darken(white, 7%);
        }
    }

    &__btn-close {
        margin-left: auto;
        width: 45px;
        height: 45px;
        padding: 0;
        cursor: pointer;
    }
}

.footer {
    flex: 0 0 auto;
    background-color: white;

    &__inner {
        display: flex;
        flex-direction: column;
        padding: 70px 0 90px;
    }

    &__info {
        color: #7e7e7e;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;

        &-address {
            margin-bottom: 20px;
        }
    }
}

.footer__menu {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &-list {
        display: flex;
        margin-left: 50px;
        flex-wrap: wrap;
    }

    &-item {
        margin-left: 80px;
        display: flex;
        align-items: center;
        line-height: 40px;
    }

    &-link {
        color: #242424;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 2px;
        }
    }

    &-social {
        width: 60px;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
    }
}

.footer2 {
    flex: 0 0 auto;
    background-color: #050505;

    &__inner {
        display: flex;
        flex-direction: column;
        padding: 70px 0;
    }

    &__info {
        color: white;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;

        &-address {
            margin-bottom: 20px;
        }
    }
}

.footer2__menu {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &-list {
        display: flex;
        margin-left: 50px;
        flex-wrap: wrap;
    }

    &-item {
        margin-left: 80px;
        display: flex;
        align-items: center;
        line-height: 40px;
    }

    &-link {
        color: white;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 2px;
        }
    }

    &-social {
        width: 60px;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
    }
}

.intro {
    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -5vh;
    }

    &__title {
        color: white;
        opacity: 0;
        font-family: "Lexend Deca", sans-serif;
        font-size: 70px;
        font-weight: normal;
        margin: 0 0 20px;
        line-height: 85px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        transform: translateY(20px);
        transition: transform 500ms ease-out 0.5s, opacity 500ms ease-out 0.5s;

        &-anim {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    &__subtitle {
        color: white;
        opacity: 0;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 40px;
        text-align: center;
        line-height: 37px;
        transform: translateY(20px);
        transition: transform 500ms ease-out 0.8s, opacity 500ms ease-out 0.8s;

        &-anim {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.intro__menu {
    display: flex;
    width: 280px;
    justify-content: space-between;
    align-items: center;

    &-btn {
        width: 150px;
        height: 45px;
        position: relative;
        background: linear-gradient(90.22deg, #615eff 0.31%, #45c3f0 121.18%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        line-height: 45px;
    }

    &-btn:after {
        background: white;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        z-index: -1;
    }

    &-link {
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 2px;
        }
    }
}

.benefits {
    background: #f2f4f5;
    position: relative;
    overflow-y: visible;

    &__bg-fill {
        position: absolute;
        background-color: #62b9ff;
        width: 1000%;
        height: 100%;
        z-index: -1;
        left: 0;
    }

    &__bg-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 180%;
        height: 100%;
    }

    &__bg {
        position: sticky;
        left: 0;
        top: 65px;
        z-index: 1;
        width: 100%;
        height: 100vh;
        mix-blend-mode: color-dodge;
        object-fit: cover;
        object-position: 0% 100%;
    }

    &__mask {
        width: 100%;
        height: calc(100vh - 65px);
        position: sticky;
        top: 65px;
        left: 0;
        background-color: #62b9ff;
        -webkit-mask-image: linear-gradient(to bottom, transparent 77%, white 80%);
        z-index: 1;
    }

    &__1 {
        position: absolute;
        height: 3100px;
        top: calc((100vh - 465px) / 2);
    }

    &__2 {
        position: absolute;
        height: 3100px;
        top: calc((100vh - 465px) / 2 + 10px);
        margin-right: 10px;
    }

    &__3 {
        position: absolute;
        height: 3100px;
        top: calc((100vh - 465px) / 2 + 20px);
        margin-right: 20px;
    }

    &__4 {
        position: absolute;
        height: 3100px;
        top: calc((100vh - 465px) / 2 + 30px);
        margin-right: 30px;
    }

    &__inner {
        display: flex;
        min-height: 100vh;
    }

    &__title {
        max-width: 550px;
        color: #242424;
        opacity: 0;
        font-size: 45px;
        font-weight: 600;
        line-height: 67px;
        margin: 0 0 36px;
        transform: translateX(20px);
        transition: transform 500ms ease-out, opacity 500ms ease-out;

        &-anim {
            transform: translateX(0px);
            opacity: 1;
        }

        &-hl {
            background: linear-gradient(90deg, #615eff 0%, #45c3f0 58.17%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__subtitle {
        max-width: 650px;
        color: #505050;
        opacity: 0;
        font-size: 25px;
        font-weight: 500;
        line-height: 37px;
        transform: translateX(20px);
        transition: transform 500ms ease-out 0.3s, opacity 500ms ease-out 0.3s;

        &-anim {
            transform: translateX(0px);
            opacity: 1;
        }
    }

    &__content-left_container {
        position: sticky;
        top: calc(50vh - 122px);
    }

    &__content-left {
        width: 100%;
        padding: calc((100vh - 375px) / 2) 0;
    }

    &__content-right {
        //height: 2340px;
        height: calc(100vh - 435px + 3100px);
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;
        z-index: 2;
    }

    &-panel__container {
        position: sticky;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 4px 8px 3px rgba(94, 94, 94, 0.12);
        max-width: 350px;
        min-height: 400px;
        padding: 40px 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__pc1 {
        top: calc(50vh - 168px);
    }

    &__pc2 {
        top: calc(50vh - 168px + 10px);
        margin-top: 900px;
    }

    &__pc3 {
        top: calc(50vh - 168px + 20px);
        margin-top: 1800px;
    }

    &__pc4 {
        top: calc(50vh - 168px + 30px);
        margin-top: 2700px;
    }

    &-panel__icon {
        width: 130px;
        height: 130px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-panel__title {
        background: linear-gradient(90.22deg, #615eff 0.31%, #45c3f0 121.18%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 23px;
        line-height: 34px;
        text-align: center;
        margin-bottom: 25px;
    }

    &-panel__description {
        color: #242424;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
    }
}

.info {
    position: relative;
    background: white;
    z-index: 0;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        z-index: -1;
        object-fit: cover;
    }

    &__inner {
        padding: 50px 0;
    }

    &__title {
        color: #242424;
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
        line-height: 65px;

        background: linear-gradient(90deg, #615eff 0%, #45c3f0 58.17%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__subtitle {
        color: #505050;
        font-size: 25px;
        font-weight: 500;
        line-height: 38px;
        text-align: center;
        margin-bottom: 40px;
        line-height: 35px;
    }

    &__benefits-container {
        //padding: 0 40px;
        position: relative;
        margin-bottom: 60px;
    }

    &__img-1 {
        padding-right: 90px;
        padding-bottom: 70px;
        filter: drop-shadow(0px 4px 4px rgba(154, 154, 154, 0.55));
    }

    &__img-2 {
        position: absolute;
        width: 400px;
        height: auto;
        bottom: 0;
        right: 0;
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }
}

.partners {
    position: relative;
    background: linear-gradient(260.91deg, #49b7f2 -12.97%, #615eff 105.58%);
    z-index: -1;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        z-index: -1;
        object-fit: none;
        object-position: 0 100%;
    }

    &__inner {
        padding: 50px 65px;
    }

    &__title {
        color: white;
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 60px;
        line-height: 65px;
    }

    &__logos {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__logos-item {
        flex-grow: 1;
        flex-basis: 150px;
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1500px) {
    .benefits__cubes {
        display: none;
    }
}

@media (max-width: 1180px) {
    .header__inner {
        padding: 0 20px;
    }

    .footer__inner {
        padding: 70px 20px 70px;
    }

    .footer__menu-item {
        margin-left: 0;
        margin-right: 30px;
    }

    .intro__inner {
        margin: 0 20px;
    }

    .benefits__inner {
        flex-direction: column;
    }

    .benefits__content-left {
        padding: 100px 20px 100px;
    }

    .benefits__content-right {
        margin-left: 0;
        width: 100%;
        align-items: center;
        //height: 2130px;
    }

    .info__inner {
        margin: 0 20px;
    }
}

@media (max-width: 1000px) {
    .benefits__inner {
        flex-direction: column;
    }
}

@media (max-width: 785px) {
    .intro__container {
        top: auto;
    }

    .intro__subtitle {
        font-size: 28px;
        line-height: 36px;
    }

    .footer__menu {
        align-items: start;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer__menu-list {
        margin-left: 0;
    }

    .footer__menu-social {
        margin-top: 20px;
        margin-left: 0;
    }

    .logo {
        margin-bottom: 20px;
    }

    .info__benefits-container {
        margin-bottom: 30px;
    }

    .info__img-1 {
        padding-right: 30px;
        padding-bottom: 25px;
    }

    .info__img-2 {
        width: 200px;
    }

    .partners__inner {
        padding: 50px 20px;
    }
}

@media (max-width: 665px) {
    .header__menu {
        display: none;
    }

    .header__btn-menu {
        display: block;
    }

    .benefits__title {
        line-height: 55px;
    }
}

@media (max-width: 455px) {
    .intro__subtitle {
        font-size: 24px;
        line-height: 30px;
    }

    /*     .header__inner {
        display: flex;
        justify-content: center;
    } */

    .partners__logos {
        gap: 15px;
    }
}
