<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="/">
                <img src="public/img/logo_velox_text.svg" alt="">
            </a>
            <nav class="header__menu">
                <a class="header__menu-btn btn-primary" href="#form">Request Access</a>
                <a class="header__menu-btn btn-secondary" href="https://velox-clearing.com/portal/login">Log In</a>
            </nav>
            <button class="header__btn-menu" id="header__btn-menu">
                <div class="header__btn-menu-line"></div>
                <div class="header__btn-menu-line"></div>
                <div class="header__btn-menu-line"></div>
            </button>
        </div>
    </div>
    <div class="header-menu">
        <div class="header-menu__top">
            <a class="header__logo" href="/">
                <img src="public/img/logo_velox_text.svg" alt="">
            </a>
            <button class="header-menu__btn-close" id="header-menu__btn-close">
                <img src="public/img/btn_close.svg" alt="">
            </button>
        </div>
        <nav class="header-menu__bottom">
            <a class="header-menu__btn--primary" href="#form">Request Access</a>
            <a class="header-menu__btn--secondary" href="https://velox-clearing.com/portal/login">Log In</a>
        </nav>
    </div>
</header>