<main class="main">
    <section class="form">
        <div class="background" style="height: 100%; background: linear-gradient(255deg, #4baef3 3%, #615eff 97%);"></div>
        <div class="form__container">
            <div class="call-us__container" style="margin: 150px 0 80px 0">
                <div class="call-us__checkmark-icon">
                    <img src="public/img/checkmark.svg" alt="">
                </div>
                <h3 class="call-us__title" style="text-align: center;">Form Submitted</h3>
                <p class="call-us__subtitle">A representative will contact you shortly.<br>For faster assistance, please
                    call or email us.</p>
                <div class="call-us__container-inner">
                    <div class="call-us__container-left">
                        <div class="call-us__container-phone">
                            <div class="phone-icon">
                                <img src="public/img/phone.svg" alt="">
                            </div>
                            <a class="phone-number" href="tel:+1866-808-3569">866-808-3569</a>
                        </div>
                        <div class="call-us__container-phone">
                            <div class="phone-icon">
                                <img src="public/img/email.svg" alt="">
                            </div>
                            <a class="phone-number" href="mailto:sales@velox-global.com">sales@velox-global.com</a>
                        </div>
                    </div>
                    <div class="call-us__container-right">
                        <u>Hours of operation</u><br>
                        Monday - Friday:<br>
                        <b>6 am to 4 pm US-Pacific</b><br>
                        <b>9 am to 7 pm US-Eastern</b><br>
                        Saturday - Sunday: <b>Closed</b>
                    </div>
                </div>
                <nav class="header-menu__bottom" style="margin-top: 40px; padding: 0">
                    <a class="header-menu__btn--primary" style="max-width: 300px;" href="/">Back to Home</a>
                    <a class="header-menu__btn--secondary" style="max-width: 300px;"
                        href="https://velox-clearing.com/portal/login">Log In</a>
                </nav>
            </div>
        </div>
    </section>
</main>
<footer class="footer2">
    <div class="container">
        <div class="footer2__inner">
            <nav class="footer2__menu">
                <a class="logo" href="/">
                    <img src="public/img/logo_velox_bw.svg" alt="">
                </a>
                <ul class="footer2__menu-list">
                    <li class="footer2__menu-item">
                        <a class="footer2__menu-link" href="">Products</a>
                    </li>
                    <li class="footer2__menu-item">
                        <a class="footer2__menu-link" href="">Resources</a>
                    </li>
                    <li class="footer2__menu-item">
                        <a class="footer2__menu-link" href="">Company</a>
                    </li>
                    <li class="footer2__menu-item">
                        <a class="footer2__menu-link"
                            href="https://resources.velox-global.com/index.php/disclosures/">Regulatory Disclosures</a>
                    </li>
                </ul>
                <div class="footer2__menu-social">
                    <a class="logo" href="https://www.facebook.com/veloxclearing">
                        <img src="public/img/logo_facebook.svg" alt="">
                    </a>
                    <a class="logo" href="https://www.linkedin.com/company/velox-clearing/">
                        <img src="public/img/logo_linkedin.svg" alt="">
                    </a>
                </div>
            </nav>
            <div class="footer2__info">
                <p class="footer2__info-address">
                    2400 E Katella Ave Anaheim, CA 92806<br>
                    Products and services offered by Velox Clearing LLC, an SEC registered broker-dealer. Member
                    FINRA/SIPC.
                </p>
                <p class="footer2__info-copyright">
                    Velox Clearing LLC. All right reserved
                </p>
            </div>
        </div>
    </div>
</footer>