<main class="main">
    <section class="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="intro__container">
                    <h1 class="intro__title">Trading made simple</h1>
                    <h3 class="intro__subtitle">Securities Clearing, Custody, and Prime services.<br>Introducing fractional ownership and access to crypto trading</h3>
                    <nav class="intro__menu">
                        <a class="intro__menu-btn btn-primary" href="form">Request Access</a>
                        <a class="intro__menu-link" href="https://www.velox-global.com/apidoc/">See Velox
                            API</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="benefits">
        <div class="container">
            <div class="benefits__inner">
                <div class="benefits__content-left">
                    <div class="benefits__content-left_container">
                        <h1 class="benefits__title">Powering Revolutions in Digital Finance</h1>
                        <div class="benefits__divider"></div>
                        <p class="benefits__subtitle">Our incubator for high-impact fintech startups is hatching
                            the
                            next generation of investing</p>
                    </div>
                </div>
                <div class="benefits__content-right">
                    <div class="benefits-panel__container">
                        <div class="benefits-panel__icon">
                            <img src="public/img/icon_benefits_01.png" alt="">
                        </div>
                        <h6 class="benefits-panel__title">Settlement, Clearing & Custoday</h6>
                        <p class="benefits-panel__description">Stand high on a platform built for the future of
                            investing.</p>
                    </div>
                    <div class="benefits-panel__line"></div>
                    <div class="benefits-panel__container">
                        <div class="benefits-panel__icon">
                            <img src="public/img/icon_benefits_02.png" alt="">
                        </div>
                        <h6 class="benefits-panel__title">Seamless Integration & Reporting</h6>
                        <p class="benefits-panel__description">API-first infrastructure for instant account
                            opening, easy trading, and more.</p>
                    </div>
                    <div class="benefits-panel__line"></div>
                    <div class="benefits-panel__container">
                        <div class="benefits-panel__icon">
                            <img src="public/img/icon_benefits_03.png" alt="">
                        </div>
                        <h6 class="benefits-panel__title">Securities Lending & Financing</h6>
                        <p class="benefits-panel__description">Access what you need to grow with flexible
                            integration and wholesale pricing.</p>
                    </div>
                    <div class="benefits-panel__line"></div>
                    <div class="benefits-panel__container">
                        <div class="benefits-panel__icon">
                            <img src="public/img/icon_benefits_04.png" alt="">
                        </div>
                        <h6 class="benefits-panel__title">Best Execution & Integrity</h6>
                        <p class="benefits-panel__description">Trade what you like, how you like, with zero
                            commissions and passed through rebates.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="container">
            <div class="info__inner">
                <div class="info__panel">
                    <h2 class="info__title">Your Full-Stack Back Office</h2>
                    <h4 class="info__subtitle">Clearing is easy, trading isn’t. Focus on what matters and let
                        your
                        back office take care of the rest. Prime broker and clearing relationships should be
                        transparent and gainful.</h4>
                    <div class="info__benefits-container">
                        <div class="info__benefits-section">
                            <div class="info__benefits-left">
                                <img src="public/img/icon_checkmark.png" alt="">
                            </div>
                            <div class="info__benefits-right">
                                <h5 class="info__benefits-title">Trade equities and options in US markets. Fractional ownership and access to crypto markets</h5>
                                <p class="info__benefits-description">Our platform affords flexibility to trade,
                                    build and grow at any size. No strings attached.</p>
                            </div>
                        </div>
                        <div class="info__benefits-section">
                            <div class="info__benefits-left">
                                <img src="public/img/icon_checkmark.png" alt="">
                            </div>
                            <div class="info__benefits-right">
                                <h5 class="info__benefits-title">Rapid Integration. Built for speed and
                                    efficiency</h5>
                                <p class="info__benefits-description">Institutions, traders, developers and
                                    entrepreneurs choose Velox for API-first financial architecture that is easy
                                    to integrate with and grows with your business.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="partners">
        <div class="container">
            <div class="partners__inner">
                <h2 class="partners__title">Integrations and Partners</h2>
                <div class="partners__logos">
                    <div class="partners__logos-item">
                        <img src="public/img/logo_finra.svg" alt="logo">
                    </div>
                    <div class="partners__logos-item"><img src="public/img/logo_fis.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_nasdaq.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_plaid.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_nyse.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_refinitiv.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_sipc.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_virtu.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_occ.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_wex.png" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_cboe.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_coda.png" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_dtcc.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_etna.svg" alt="logo"></div>
                    <div class="partners__logos-item"><img src="public/img/logo_softek.svg" alt="logo"></div>
                </div>
            </div>
        </div>
    </section>
</main>